Repository 99Problemsx/Zorua-the-divine-deception, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, documentation, game-data, plugins, scripts, dependencies, assets, config

docs: Update download statistics [skip ci]
  STATS.md
Labels: documentation

docs: Update auto-generated changelog [skip ci]
  CHANGELOG_AUTO.md
Labels: documentation

docs: Update download statistics [skip ci]
  STATS.md
Labels: documentation

docs: Auto-generate project documentation [skip ci]
  PBS_DOCS.md
  PLUGINS.md
  PROJECT_OVERVIEW.md
Labels: documentation

docs: Auto-generate project documentation [skip ci]
  PBS_DOCS.md
  PLUGINS.md
  PROJECT_OVERVIEW.md
Labels: documentation

fix(pbs): prevent double GameData::Item.get() calls causing NoMethodError
  Plugins/PBS Data System/[000] Base Classes.rb
Labels: plugins, scripts

docs: Auto-generate project documentation [skip ci]
  PBS_DOCS.md
  PLUGINS.md
  PROJECT_OVERVIEW.md
Labels: documentation

docs: Auto-generate project documentation [skip ci]
  PBS_DOCS.md
  PLUGINS.md
  PROJECT_OVERVIEW.md
Labels: documentation

docs: Update download statistics [skip ci]
  STATS.md
Labels: documentation

docs: Update download statistics [skip ci]
  STATS.md
Labels: documentation

docs: Update download statistics [skip ci]
  STATS.md
Labels: documentation

push
  Plugins/PBS Data System/[000] Base Classes.rb
Labels: plugins, scripts

docs: Auto-generate project documentation [skip ci]
  PBS_DOCS.md
  PLUGINS.md
  PROJECT_OVERVIEW.md
Labels: documentation

docs: Auto-generate project documentation [skip ci]
  PBS_DOCS.md
  PLUGINS.md
Labels: documentation

docs: Update download statistics [skip ci]
  STATS.md
Labels: documentation

docs: Update download statistics [skip ci]
  STATS.md
Labels: documentation

fix(ci): enable auto-merge for major version updates in Dependabot PRs
  .github/workflows/dependabot-auto-merge.yml
Labels: ci/cd

fix: improve error handling and code security
  .github/workflows/dependabot-auto-merge.yml
  .gitignore
  Plugins/Social Links/005_Script Variables.rb
  Plugins/[007] Wind Animation System/Wind.rb
  Plugins/[DBK_010] Animated Trainer Intros/[002] Trainer UI.rb
  Text_deutsch_core/.vs/Text_deutsch_core/FileContentIndex/a1e49c16-e888-4a90-ade5-385834c9a5e1.vsidx
  Text_deutsch_core/.vs/Text_deutsch_core/v17/.wsuo
  Text_deutsch_core/.vs/Text_deutsch_core/v17/DocumentLayout.json
  Text_deutsch_core/.vs/VSWorkspaceState.json
  Text_deutsch_core/.vs/slnx.sqlite
  [2025-10-24] 21_57_20.913.png
Labels: ci/cd, plugins, scripts

fix: add error logging to critical rescue blocks in core systems
  Data/Scripts/001_Technical/003_Intl_Messages.rb
  Data/Scripts/008_Audio/002_Audio_Play.rb
  Data/Scripts/021_Compiler/001_Compiler.rb
  Data/Scripts/021_Compiler/002_Compiler_CompilePBS.rb
  Data/Scripts/021_Compiler/004_Compiler_MapsAndEvents.rb
Labels: none

.github/labeler.yml:

# Label PRs based on file paths
# https://github.com/actions/labeler

# Workflow changes
'ci/cd':
  - changed-files:
    - any-glob-to-any-file: '.github/workflows/**'

# Documentation changes
'documentation':
  - changed-files:
    - any-glob-to-any-file: 
      - '*.md'
      - 'docs/**'

# PBS data files
'game-data':
  - changed-files:
    - any-glob-to-any-file: 'PBS/**'

# Plugin changes
'plugins':
  - changed-files:
    - any-glob-to-any-file: 'Plugins/**'

# Ruby scripts
'scripts':
  - changed-files:
    - any-glob-to-any-file:
      - '*.rb'
      - 'Plugins/**/*.rb'

# Dependencies
'dependencies':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/dependabot.yml'
      - '**/package.json'
      - '**/Gemfile'

# Graphics/Audio
'assets':
  - changed-files:
    - any-glob-to-any-file:
      - 'Graphics/**'
      - 'Audio/**'

# Configuration files
'config':
  - changed-files:
    - any-glob-to-any-file:
      - '*.json'
      - '*.ini'
      - '*.yml'
      - '*.yaml'
